$orange: #ffd40d;
$darkOrange: #fca909;

$bgColor: #fff;
$fontColor: #333;
$mainColor: $orange;
$mainDColor: $darkOrange;

$zIndexNav: 980;
$zIndexOperation: 990;
$zIndexDialog: 990;
$zIndexPage: 990;
