@mixin centerH() {
  display: flex;
  justify-content: center;
  align-items: center;
};
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}